schema_extra = {
            "example":
                {
                    "content_detail": [
                        {
                            "title": "instagram",
                            "detail": "this is a post about how to use instagram",
                            "caption": "this is a post to indlfndlvfd;k;ldkf",
                            "created_at": "2022-09-04T13:08:33.266774",
                            "id": "bb5b3d0d-4222-412d-aa13-e7bdaf5e14b3",
                            "categories": [
                                {
                                    "id": "496d30b6-9519-4b8a-91cf-1bb1f9c48ba1",
                                    "title": "cat 1",
                                    "parrent_id": "7bda49e9-7479-41ee-b9f4-2998bdd717a2",
                                    "children": [
                                        {
                                          "id": "0cabbc9b-bed2-4d83-924b-748c4c4394af",
                                          "title": "guide instagram",
                                          "children": [],
                                          "parrent_id": "0244e0b0-e498-407a-95e1-25fd486fa527"
                                        }
                                    ]
                                }
                            ],
                            "content_attachments": [
                                {
                                    "attachment_type": "jpg",
                                    "attachment_id": "string",
                                    "id": "111238c2-b42c-41f0-832e-58a52f45d3d8"
                                }
                            ]
                        }
                    ]
                }
        }