alembic==1.8.1
amqp==5.1.1
anyio==3.6.2
async-timeout==4.0.2
attrs==22.2.0
autopep8==1.6.0
bcrypt==3.2.2
billiard==3.6.4.0
Brotli==1.0.9
celery==5.2.7
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
ConfigArgParse==1.5.3
coverage==6.4.2
Deprecated==1.2.13
dnspython==2.3.0
ecdsa==0.18.0
email-validator==1.2.1
fastapi==0.95.0
flake8==4.0.1
Flask==2.2.3
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.10
flower==1.2.0
gevent==22.10.2
geventhttpclient==2.0.9
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
humanize==4.6.0
idna==3.4
inflect==5.6.2
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jose==1.0.0
kombu==5.2.4
locust==2.11.0
Mako==1.2.4
MarkupSafe==2.1.2
mccabe==0.6.1
minio==7.1.11
msgpack==1.0.5
packaging==23.0
passlib==1.7.4
pluggy==1.0.0
prometheus-client==0.14.1
prometheus-fastapi-instrumentator==5.9.1
prompt-toolkit==3.0.38
psutil==5.9.4
psycopg2-binary==2.9.3
py==1.11.0
pyasn1==0.4.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.7
pyflakes==2.4.0
pytest==7.1.2
python-dotenv==0.20.0
python-jose==3.3.0
python-multipart==0.0.5
python-slugify==6.1.2
pytz==2023.3
pyzmq==22.3.0
redis==4.3.4
requests==2.28.1
roundrobin==0.0.4
rsa==4.9
six==1.16.0
smsir-python==1.0.7
sniffio==1.3.0
SQLAlchemy==2.0.8
sqlparse==0.4.3
sqltap==0.3.11
starlette==0.26.1
tenacity==8.0.1
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tornado==6.2
typing_extensions==4.5.0
urllib3==1.26.15
uvicorn==0.18.3
vine==5.0.0
wcwidth==0.2.6
Werkzeug==2.2.3
wrapt==1.15.0
zope.event==4.6
zope.interface==6.0
